@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');   
.module {
   width: 100%;
   background-color: #c6dfdf;
   border: 1px solid #ddd;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 0 3px 0 black;
   margin: 15px 0;
}

/* 최상단 헤더 */
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   background-color: #8bafaf;
}

.title {
   font-size: 1.6em;
   font-weight: bold;
}
.title2 {
   font-size: 1.2em;
   font-weight: bold;
}
.sub_title {
   font-family: 'Do Hyeon', serif;
   font-size: 1.3em;
   letter-spacing: 1.1px;
   font-weight: 400;
    margin: 20px 0 10px 20px;
}

.details-button {
   padding: 5px 15px;
   background-color: #ffffff;
   border: none;
   box-shadow: 0px 0px 2px 0px rgb(149, 149, 149);
   border-radius: 5px;
   cursor: pointer;
   font-size: 14px;
}

.details-button:hover {
   background-color: #bababa;
   transition: 100ms;
   font-weight: bold;
}

/* 콘텐츠 영역 */
.container {
   display: flex;
   gap: 10px;
   margin-top:20px;
}

/* 좌측 박스 */
.leftBox1 {
   flex: 1;
   /* color: #fff; */
   padding: 20px;
   border-radius: 0 0 0 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 50%;
   box-sizing: border-box;
   justify-content: center;
   /* border: 1px solid black; */
}

.time {
   font-size: 13px;
   margin-bottom: 30px;
   /* text-align: left; */
   width: 100%;
   padding-left: 40px;
}

.weather-info {
   display: flex;
   align-items: center;
   padding:0;
   margin:0;
   justify-content: center;
}
.weather-details {
   padding:0;
   margin: 0;
   /* background-color: yellow; */
}

.weather-image {
   width: 180px;
   height: 180px;
   /* background-color: #d9d9d9; */
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 140%;
   /* padding:20px; */
   /* background-color: red; */
   margin: 20px;
}

.itemList {
   padding: 0;
   margin: 0;
   text-align: center;
}

/* .leftBox1 .itemList li {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px; 
} */

.temperature {
   font-size: 50px;
   font-weight: bold;
   /* color: #fff; */
   margin-left: -10px;
   /* padding-left:-10px; */
   /* background-color: green; */
}

.leftBox1 .weather-status {
   margin: 0;
   font-weight: bold;
   font-size: 20px;
   text-align: start;
   /* justify-content:flex-start ; */
   justify-items: start;
   /* padding-left: 10px; */

   /* color: #e0e0e0; */
}
.leftBox1 .weather-info .itemList {
   /* background-color: honeydew; */
   height: 110px;
   padding: 0;
   gap: 0;
   /* justify-content: space-around; */
}

/* 우측 박스 */
.rightBox1 {
   box-sizing: border-box;
   /* width: 4%; */
   flex: 1;
   /* background-color: #3a4fb0;  */
   /* color: #fff; */
   padding: 0 20px 20px 20px;
   border-radius: 0 0 10px 0;
   /* border: 1px solid black; */
   
}

.itemList {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.rightBox1 .itemList:last-child {
   padding-top: 30px;
   /* background-color: red; */
}

.rightBox1 .items {
   display: flex;
   justify-content: space-between;
   background-color: #fff;
   color: #555;
   padding: 10px 20px;
   border-radius: 5px;
   font-size: 14px;
   /* text-align: start; */
}

.items span:first-child {
   color:black
}

.label {
   display: flex;
   font-size:1em;
   display: flex;
   align-items: center;
   width: 40%;
}
.label span {
   padding-left: 5px;
   font-size: 1rem;
}
.value {
   display: flex;
   justify-content: space-between;
   width: 27%;
   /* border: 1px solid red; */
}

.value span:first-child {
   font-size: 1.2rem;
   display: inline-block;
   width: 60%;
   text-align: right;
   /* border: 1px solid red; */
}